arabic-reshaper==2.1.1
asgiref==3.3.1
attrs==20.3.0
autobahn==21.2.1
Automat==20.2.0
cairocffi==1.2.0
CairoSVG==2.5.1
certifi==2020.12.5
cffi==1.14.5
channels==3.0.3
chardet==4.0.0
click==7.1.2
constantly==15.1.0
cryptography==3.4.6
cssselect2==0.4.1
daphne==3.0.1
defusedxml==0.6.0
Django==3.1.6
django-braces==1.14.0
django-crispy-forms==1.11.0
django-djconfig==0.10.0
django-haystack==3.0
django-infinite-scroll-pagination==1.1.0
django-messages==0.6.0
django-model-utils==4.1.1
django-modeladmin-reorder==0.3.1
django-private-chat==0.3.0
django-quill-editor==0.1.21
export==0.1.2
future==0.18.2
html5lib==1.1
hyperlink==21.0.0
idna==2.10
importlib-metadata==3.10.0
incremental==17.5.0
jeepney==0.6.0
jsonconfig-tool==1.5
keyring==23.0.1
messages==0.5.0
mistune==0.8.4
olefile==0.46
Pillow==8.0.1
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==20.0.1
PyPDF2==1.26.0
Pyphen==0.10.0
python-bidi==0.4.2
python-box==5.3.0
pytz==2021.1
reportlab==3.5.59
requests==2.25.1
SecretStorage==3.3.1
service-identity==18.1.0
six==1.15.0
sqlparse==0.4.1
tinycss2==1.1.0
Twisted==20.3.0
txaio==21.2.1
urllib3==1.26.4
validus==0.3.0
WeasyPrint==52.2
webencodings==0.5.1
websockets==8.1
Whoosh==2.7.4
xhtml2pdf==0.2.5
zipp==3.4.1
zope.interface==5.2.0
