{% load static %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
      {% for new in news %}
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}"
              {% if forloop.first %}class="active"{% endif %}></li>
      {% endfor %}
  </ol>
  <div class="carousel-inner">
      {% for new in news %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="container-t">
            <img src="{% get_media_prefix %}{{ new.img }}" class="d-block w-100 img-fluid" alt="{{ new.title }}">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ new.title }}</h5>
              <p>{{ new.text|safe }}</p>
            </div>
          </div>
        </div>
      {% endfor %}


  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Predchádzajúca</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Ďalšia</span>
  </a>
</div>