<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
    <div class="container-xl">
        <a class="navbar-brand" href="{% url 'InfoView' %}">Názov aplikácie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07XL">
            <form class="ms-auto">
                <input class="form-control" type="text" placeholder="Hľadať" aria-label="Search">
            </form>
            <ul class="navbar-nav me-3  mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="{% url 'departments' %}">Ústavy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{% url 'faq' %}'>FAQ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-bs-toggle="dropdown" aria-expanded="false">Žiadosti</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown07XL">
                        <li><a class="dropdown-item" href="{% url 'ziadost_info' %}">Žiadosť o pridelenie informácií</a></li>
                        <li><a class="dropdown-item" href="{% url 'support' %}">Podpora</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                {% block content %}
                {% if user.is_authenticated %}
                    <li class="ms-lg-3">
                        <a class="nav-link" href="{% url 'forum_view' %}">Fórum</a>
                    </li>
                    <li class="ms-lg-3">
                        <a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'logout' %}">Odhlasit sa</a>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-link" href="{% url 'register' %}">Registrovat sa</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'login' %}">Prihlasit sa</a>
                    </li>
                {% endif %}
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>
