{% extends 'index.html' %}
{% block title %}Fórum{% endblock %}
{% block content %}
    <div class="container mt-3">

        <div class="d-flex justify-content-between">
            <h1>Fórum</h1>
            <a href="{% url 'new_post' %}">
                <button class="btn btn-success">Vytvoriť nový príspevok</button>
            </a>
        </div>
        <div class="d-block float-start w-100 mt-3">
        {% for res in result %}
            <div class="">
                <a href="{% url 'category_view' res.category.id %}" class="text-decoration-none">
                    <h5 class="bg-dark text-white p-3">{{ res.category.title }}</h5>
                </a>
            {% if res.posts %}
                {% for post in res.posts %}
                    <a href="{% url 'post_view' post.post.id %}" class="text-decoration-none text-dark">
                    <div class="px-3 bg-light d-flex pt-2 mt-3">
                        <div class="flex-grow-1">
                            <h6>{{ post.post.title }}</h6>
                            {% if post.comment %}
                                <p class="ms-2 small">{{ post.comment.forum_comment.edited_at }} | Posledny prispevok od:
                                    <b>{{ post.comment.forum_comment.creator.first_name }}
                                    {{ post.comment.forum_comment.creator.last_name }}
                                    </b>&emsp;
                                </p>
                            {% else %}
                                <p class="ms-2 small">Zatiaľ žiadna odpoveď</p>
                            {% endif %}
                        </div>
                        <div class="small">
                            <p class="mb-0 text-right">{{ post.post.creator.username }} | {{ post.post.creator.first_name }}
                                {{ post.post.creator.last_name }}
                            </p>
                            <p class="mb-0 text-end">{{ post.post.created_at }}</p>
                        </div>
                    </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="px-3 bg-light py-2">Zatiaľ žiadne príspevky</div>
            {% endif %}
            {% if res.posts.has_next %}
                <a href="{% url 'category_view' res.category.id %}" class="text-center col-12 d-block mt-2 mb-2">
                    Načítaj ďalšie príspevky
                </a>
            {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}